@model IEnumerable<Online.Vote.Domain.Player>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <title>Index</title>
    <style>

        * {
            margin: 0;
            padding: 0;
        }

        body {
            background-image: url('../../Content/Img/bg.gif');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: 100% 100%;
        }

        .match {
            padding-top: 250px;
        }

        .match1:last-of-type {
            float: right;
        }

        .match1:first-child {
            float: left;
        }
        

        .match1, .match2 {
            text-align: center;
            font-size: 18px;
            margin: 30px 0;
            color: #ffffff;
            font-weight: bold;
        }
    </style>
</head>
<body>

    <div class="container match">
        <div class="row">
               <div class="col-lg-2 match1">
                <img id="player1Img" src="" class="img-responsive img-circle" />
                <h4 id="player1Name"> </h4>
                   @Html.Hidden("screenPlayerID")
                <input type="button" class="btn btn-info" id="suport1" value="投票" >
            </div>     
         
            <div id="screenPlayerID" ></div>
            <div class="col-lg-2 match1">
                <img id="player2Img" src="" class="img-responsive img-circle" />
                <h4 id="player2Name"> </h4>
                <input type="button" class="btn btn-info" id="suport2" value="投票">
            </div>
        </div>
    </div>

    <script type="text/javascript">
       $(function () {
           $.ajax({
               url: "/PK/GetPkInfo",
               type: "GET",
               datatype: "JSON",
               success: function (rv) {
                   //用于保存当前的ID 提供给后台通过id查找数据
                   $("#screenPlayerID").attr('data-screenplayerid', rv.ScreenPlayerID);

                   $("#player1Name").html(rv.FirstPlayersName);
                   $("#player2Name").html(rv.SecondPlayersName);

                   $("#player1Img").attr("src", "../" + rv.FirstPlayersImg);
                   $("#player2Img").attr("src", "../" + rv.SecondPlayersImg);
               }
           });
        });


        $("input[type='button']").click(function () {
            $("input[type='button']").attr({ "disabled":"disabled"})
           var temp1 = false, temp2 = false;
           if ($(this).attr("id") == "suport1")             
               temp1 = true;
           if ($(this).attr("id") == "suport2")
               temp2 = true;
           
           $.ajax({
               type: "POST",
               url: "/Player/AddScore",
               datatype: "JSON",
               data: {
                   "screenPlayerID": $("#screenPlayerID").attr('data-screenplayerid'),
                   "suportFirst": temp1,
                   "suportSecond": temp2
               },
               success: function (data) {
                   if (data == 1) {
                       alert("投票成功！");
                       $("button").attr("disabled", true);
                   }
                   else {
                       alert("投票失败！");
                   }

               },
               error: function () {

               }
           });
          // alert("success");

       });

    </script>

</body>
</html>
